body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("../images/wooden-background.jpg");
}

.header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: #290b0aff;
    color: #ffffff;
}

.title {
    margin: 0;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 15px 0 0 0;
    align-items: center;
}

#score {
    margin: 0;
}

.how-to-btn {
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background-color: #290b0aff;
}

.how-to-btn::after {
    content: '';
    background-color: #290b0aff;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.how-to-btn::before {
    content: '';
    background: #9F6924;
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 400%;
    z-index: -2;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.how-to-btn:hover::before {
    opacity: 1;
}

.how-to-container {
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 300px;
    margin-top: 0;
    transform: translateX(300px);
    transition: transform 250ms ease-in-out;
    background: #c7c7c7;
    z-index: 1000;
    display: none;
    padding: 20px;
    box-sizing: border-box;
}

.how-to-container.active {
    transform: translateX(0px);
}

#how-to-close {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;
    overflow: hidden;
    gap: 6px;
}

#how-to-close .x-button {
    font-size: 15px;
    font-weight: bold;
}

#how-to-close .close-label {
    width: 0;
    text-decoration: underline;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    transition: width .5s ease, opacity 0.3s ease;
}

#how-to-close:hover .close-label {
    width: 500px;
    opacity: 1;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);
    padding: 15px 0;
}

.card {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='43.78' height='70' patternTransform='scale(2) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(2,60.8%,10%,1)'/><path d='m15.323-.024 8.66-69.952H6.663ZM6.567-69.976l8.66 69.952h-17.32Zm43.78 0 8.66 69.952h-17.32ZM-6.567 34.976l8.66-69.952h-17.32Zm21.89 35L23.983.024H6.663ZM6.567.024l8.66 69.952h-17.32Zm30.646 34.952 8.66-69.952h-17.32Zm-8.756-69.952 8.66 69.952h-17.32Zm21.89 35 8.66 69.952h-17.32ZM-6.567 104.976l8.66-69.952h-17.32Zm21.89 35 8.66-69.952H6.663ZM6.567 70.024l8.66 69.952h-17.32Zm30.646 34.952 8.66-69.952h-17.32Zm-8.756-69.952 8.66 69.952h-17.32Zm21.89 35 8.66 69.952h-17.32Z'  stroke-width='1.5' stroke='%23d58e31ff' fill='none'/></pattern></defs><rect width='800%' height='800%' fill='url(%23a)'/></svg>");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #000000;
}

.frontImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.card.flipped {
    transform: rotateY(180deg);
    cursor: auto;
}

.win-container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(112, 112, 112, .4);
    transition: background-color 0.5s ease-in;
}

h2 {
    margin-bottom: 0;
}

.moves-info {
    display: flex;
    padding-bottom: 20px;
}

.win-box {
    width: 300px;
    margin: 0;
    height: 200px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-out, transform 0.5s ease;
    position: fixed;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1002;
    opacity: 1;
}

.win-box.fixed {
    display: fixed;
}

.spin-out {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
}

.moves-p {
    margin: 0;
}

.mismatch {
    animation: incorrect-shake 1s;
    animation-iteration-count: 1;
}

.mismatch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    pointer-events: none;
}

.match {
    animation: correct-bounce 1s;
    animation-iteration-count: 1;
}

.match::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.3);
    border-radius: 10px;
    z-index: 10;
    pointer-events: none;
}

/* Reset Button CSS */
.restart {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-style: none;
    cursor: pointer;
    border: 1px solid #fff;
}

.restart::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d48d30ff;
    border-radius: 5px;
    z-index: -2;
}

.restart::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #9F6924;
    transition: all .3s;
    border-radius: 5px;
    z-index: -1;
}

.restart:hover::before {
    width: 100%;
}

.play-again {
    background-color: #d48d30ff;
    transform: scale(1);
    border-radius: 10px;
    color: #000;
    transition: all 0.5s ease;
    padding: .25rem .5rem;
    cursor: pointer;
    border: none;
}

.play-again:hover {
    background-color: #9F6924;
    color: #fff;
    transform: scale(1.2);
    box-shadow:0px 0px 10px #858484;
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 150px);
  }

  .card {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 635px) {
  .grid-container {
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(5, 125px);
  }

  .card {
    height: 125px;
    width: 125px;
  }
}

@media screen and (max-width: 540px) {
    .grid-container {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(5, 100px);
    }

    .card {
        height: 100px;
        width: 100px;
    }
    .header {
        flex-direction: column;
        padding: 15px 50px;
        height: 110px;
        z-index: 900;
        position: relative;
        text-align: center;
    }
    .how-to-container {
        z-index: 899;
        height: 100vh;
        right: 0;
        top: 0;
        width: 100%;
        margin-top: 0;
        transform: translateY(-100vh);
    }

    .how-to-container.active {
        transform: translateY(110px);
    }

    .how-to-close {
        cursor: pointer;
    }
}

@media screen and (max-width: 435px) {
    .grid-container {
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: repeat(5, 75px);
    }

    .card {
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 391px) {
    .header {
        height: 150px;
    }
    .how-to-container.active {
        transform: translateY(150px);
    }
}


@keyframes incorrect-shake {
 0% { transform: rotateY(180deg) translateX(0) }
 25% { transform: rotateY(180deg) translateX(5px) }
 50% { transform: rotateY(180deg) translateX(-5px) }
 75% { transform: rotateY(180deg) translateX(5px) }
 100% { transform: rotateY(180deg) translateX(0) }
}

@keyframes correct-bounce {
    0% { transform: rotateY(180deg) translateY(0); box-shadow: 0 0 15px rgba(0, 255, 0, 0) }
    50% { transform: rotateY(180deg) translateY(-5px); box-shadow: 0 0 10px rgba(0, 255, 0, 1) }
    100% { transform: rotateY(180deg) translateY(0); box-shadow: 0 0 15px rgba(0, 255, 0, 0) }
}